<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<!--List of secret env vars and their values-->
			<username>robert.cardoso@nfocus.co.uk</username>
			<password>thisismypassword123.</password>
			<BROWSER>chrome</BROWSER>
			<firstname>Robert</firstname>
			<lastname>Cardoso</lastname>
			<address1>30 Street Lane</address1>
			<city>London</city>
			<postcode>SW1A 2AA</postcode>
			<phonenumber>01234567890</phonenumber>
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings>